opentoutatice-collab-tools-ecm/src/main/resources/schemas/synchronization.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/AgendaEvent/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/AgendaEvent/">

  <xs:element name="idParentSource" type="xs:string"/>
  <xs:element name="idSource" type="xs:string"/>
  <xs:element name="created" type="xs:dateTime"/>
  <xs:element name="lastModified" type="xs:dateTime"/>

</xs:schema>