opentoutatice-collab-tools-ecm/src/main/resources/schemas/thread_toutatice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/ACRENNES2/thread_acaren"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/ACRENNES2/thread_acaren">

	<xs:element name="message" type="xs:string" />
	<xs:element name="nbComments" type="xs:integer" default="0" />
	<xs:element name="lastCommentAuthor" type="xs:string" />
	<xs:element name="lastCommentDate" type="xs:date" />

</xs:schema>
